@tailwind base;
@tailwind components;
@tailwind utilities; 




:root {
   /* ---- ⚫️ Colors ⚪️ ---- */
  /* Base Tokens */
  --sys-color-white: #FFFFFF;
  --sys-color-black: #000000;
  --sys-color-grey: #A5A5A5;
  --sys-color-darkgrey: #B6B7B8;

  /* Theme Tokens */
  --primary: var(--sys-color-white);
  --secondary: var(--sys-color-black);
  --tertiary: var(--sys-color-grey);

  /* Component Tokens */
  --disabled: var(--sys-color-darkgrey);
}

body {
  margin: 0;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='16' width='16' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:currentColor;stroke:currentColor;stroke-width:.0419595'/%3E%3C/svg%3E") 8 8, pointer;
}

body .p-component {
  font-family: "VT323", monospace;
}

body .p-dialog-header {
  padding: 0.6rem 0.6rem;
}

body::before {
  content: '';
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: repeating-linear-gradient(0deg, rgb(51 51 51 / 10%), rgba(51, 51, 51, 0.2) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px), radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgb(0 0 0 / 5%) 70%);
  background-attachment: fixed;
  z-index: 9;
  opacity: 49%;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::root {
  --tw-shadow: 8px 8px 0px rgba(0,0,0,1);
  --tw-shadow-colored: 8px 8px 0px var(--tw-shadow-color);
  --texture: repeating-linear-gradient(0deg, rgba(51, 51, 51, 0.2), rgba(51, 51, 51, 0.2) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 2px),radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 120%);
}


.dock-panel.dock-style-place-holder {
  background-color: transparent;
}

.window-ide,
.dock-fbox > .dock-panel {
  @apply border-4 border-black shadow-[8px_8px_0px_rgba(0,0,0,1)] !important;
}

.dock-top .dock-bar {
  padding-left: 0 !important;
}

.dock-extra-content .dock-panel-max-btn::before {
  width: 1rem;
  height: 1rem;
  border: 2.4px solid;
}

.dock-bar .dock-nav {
  align-items: center;
}
::-webkit-scrollbar {
  width: 22px;
  background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000);
  background-color: #FFFFFF;
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
  width: 10px;
  border-left: 3px solid #000000;
}

::-webkit-scrollbar-thumb {
  width: 20px;
  box-sizing: content-box;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-right: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-up.svg");
}
::-webkit-scrollbar-button:vertical:start:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-up-active.svg");
}
::-webkit-scrollbar-button:vertical:end {
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-down.svg");
}
::-webkit-scrollbar-button:vertical:end:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-down-active.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-left.svg");
}
::-webkit-scrollbar-button:horizontal:start:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-left-active.svg");
}
::-webkit-scrollbar-button:horizontal:end {
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-right.svg");
}
::-webkit-scrollbar-button:horizontal:end:active {
  background-repeat: no-repeat;
  height: 23.38px;
  background-image: svg-load("./assets/icon/scrollbar-right-active.svg");
}


/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 24px;
  width: 16px;
  background-position: center center;
  background-image: url("./assets//icon/scrollbar-up.svg");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("./assets/icon/scrollbar-up-active.svg");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("./assets/icon/scrollbar-up-active.svg");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 24px;
  width: 16px;
  background-position: center center;
  background-image: url("./assets//icon/scrollbar-down.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("./assets//icon/scrollbar-down-active.svg");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
  background-image: url("./assets//icon/scrollbar-down-active.svg");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  height: 16px;
  width: 24px;
  background-position: center center;
  background-image: url("./assets/icon/scrollbar-left.svg");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  background-image: url("./assets/icon/scrollbar-left-active.svg");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
  background-image: url("./assets/icon/scrollbar-left-active.svg");
}

/* Down */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 16px;
  width: 24px;
  background-position: center center;
  background-image: url("./assets/icon/scrollbar-right.svg");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  background-image: url("./assets/icon/scrollbar-right-active.svg");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
  background-image: url("./assets/icon/scrollbar-right-active.svg");
}


.p-tabmenu .p-tabmenu-nav {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-width: 0 0 2px 0;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  margin-right: 0;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  border: solid #e5e7eb;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #e5e7eb transparent;
  background: #ffffff;
  color: #6b7280;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
  height: 36px;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link .p-menuitem-icon {
  margin-right: 0.5rem;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #a5f3fc;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
  background: #ffffff;
  border-color: #9ca3af;
  color: #6b7280;
}
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background: #ffffff;
  border-color: #06b6d4;
  color: #06b6d4;
  height: 36px;
}

.p-dialog-content {
  display: flex;
  overflow: hidden;
  padding: 0 !important;
}

.card {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}