@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-50 text-neutral-950 dark:bg-neutral-900 dark:text-neutral-50;
  scrollbar-width: thin;
}

a:not(.exclude) {
  @apply underline decoration-neutral-300 transition-colors hover:decoration-neutral-600 dark:decoration-neutral-600 dark:hover:decoration-neutral-500;
}

img,
button {
  @apply select-none;
}

::selection {
  @apply bg-neutral-950 text-neutral-50 dark:bg-neutral-50/10 dark:text-current;
}

::-webkit-scrollbar {
  @apply w-1.5;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-50 dark:bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-400 dark:bg-neutral-800;
}

::-webkit-scrollbar-thumb:hover {
  @apply rounded-full bg-neutral-500 dark:bg-neutral-700;
}

::-moz-range-thumb {
  @apply h-4 w-4 rounded-full border-none bg-neutral-600 dark:bg-neutral-50;
}

::-webkit-slider-thumb {
  @apply h-4 w-4 appearance-none rounded-full border-none bg-neutral-600 dark:bg-neutral-50;
}

::-moz-range-track {
  @apply rounded-full bg-white;
}

::-webkit-slider-runnable-track {
  @apply bg-white;
}

.list {
  --sentColor: #0b93f6;
  --receiveColor: #e5e5ea;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.shared.shared {
  position: relative;
  max-width: 255px;
  margin-bottom: 15px;
  padding: 10px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  word-wrap: break-word;
  border-radius: 25px;
}
.shared.shared:before {
  width: 20px;
}
.shared.shared:after {
  width: 26px;
  background-color: var(--bg);
}
.shared.shared:before, .shared.shared:after {
  position: absolute;
  bottom: 0;
  height: 25px;
  transition: transform 200ms ease-out;
  content: "";
}
.noTail.noTail {
  margin-bottom: 2px;
}
.noTail.noTail:before, .noTail.noTail:after {
  opacity: 0;
}
.sent {
  align-self: flex-end;
  color: white;
  background: var(--sentColor);
}
.sent:before {
  right: -7px;
  background-color: var(--sentColor);
  border-bottom-left-radius: 16px 14px;
}
.sent:after {
  right: -26px;
  border-bottom-left-radius: 10px;
}
.received {
  align-self: flex-start;
  color: black;
  background: var(--receiveColor);
}
.received:before {
  left: -7px;
  background-color: var(--receiveColor);
  border-bottom-right-radius: 16px 14px;
}
.received:after {
  left: -26px;
  border-bottom-right-radius: 10px;
}
.tailBreakdown {
  align-self: center;
  color: white;
  background: var(--sentColor);
}
.tailBreakdown:hover:before, .tailBreakdown:focus:before {
  transform: translateX(0);
}
.tailBreakdown:hover:after, .tailBreakdown:focus:after {
  transform: translateX(0);
}
.tailBreakdown:before {
  right: -7px;
  border-right: 20px solid var(--sentColor);
  border-bottom-left-radius: 16px 14px;
  transform: translateX(15px);
}
.tailBreakdown:after {
  right: -26px;
  border-right: 26px solid green;
  border-bottom-left-radius: 10px;
  transform: translateX(25px);
}

.message {
  display: flex;
  flex-direction: column;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.message.mine .bubble-container {
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.message.start .bubble-container .bubble {
  /* margin-top: 10px; */
  border-top-left-radius: 20px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 20px;
  /* margin-bottom: 10px; */
}

.message.mine.start .bubble-container .bubble {
  margin-top: 10px;
  border-top-right-radius: 20px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.message-list-container {
  padding: 10px;
  padding-bottom: 70px;
}

.animate-children > * {
  @apply animate-intro opacity-0;
}

.animate-children > :nth-child(1) {
  @apply [animation-delay:200ms];
}

.animate-children > :nth-child(2) {
  @apply [animation-delay:250ms];
}

.animate-children > :nth-child(3) {
  @apply [animation-delay:300ms];
}

.animate-children > :nth-child(4) {
  @apply [animation-delay:350ms];
}

.animate-children > :nth-child(5) {
  @apply [animation-delay:400ms];
}

.animate-children > :nth-child(6) {
  @apply [animation-delay:450ms];
}

.animate-children > :nth-child(7) {
  @apply [animation-delay:500ms];
}

.animate-children > :nth-child(8) {
  @apply [animation-delay:550ms];
}

.animate-children > :nth-child(9) {
  @apply [animation-delay:600ms];
}

.animate-children > :nth-child(10) {
  @apply [animation-delay:650ms];
}

.animate-children > :nth-child(11) {
  @apply [animation-delay:700ms];
}

.animate-children > :nth-child(12) {
  @apply [animation-delay:750ms];
}

.animate-children > :nth-child(13) {
  @apply [animation-delay:800ms];
}

.animate-children > :nth-child(14) {
  @apply [animation-delay:850ms];
}

.animate-children > :nth-child(15) {
  @apply [animation-delay:900ms];
}

.animate-children > :nth-child(16) {
  @apply [animation-delay:950ms];
}

.animate-children > :nth-child(17) {
  @apply [animation-delay:1000ms];
}

.animate-children > :nth-child(n + 18) {
  @apply [animation-delay:1050ms];
}

.from-blue-500 {
  --tw-gradient-from: hsl(227, 92%, 62%) var(--tw-gradient-from-position);
  --tw-gradient-to: hsl(252, 91%, 57%) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.text-white p {
  color: white;
}

.text-white span {
  color: white;
}


.pulse {
  --pulseSize: 8px;
  --blue: rgba(76, 230, 145, 0.7);
  --transparentBlue: rgba(66, 166, 223, 0);
  width: var(--pulseSize);
  height: var(--pulseSize);
  border-radius: 50%;
  background: var(--blue);
  box-shadow: 0 0 0 var(--blue);
  animation: pulsing 2s infinite;
  transition: all 0.2s;
  cursor: pointer;
}

.pulse:hover {
  --blue: rgba(209, 167, 160,.65);
  --transparentBlue: rgba(209, 167, 160,0);
}

.pulse:active {
  transform: scale(1.5);
}

@keyframes pulsing {
  from {
    box-shadow: 0 0 0 0 var(--blue);
  }
  70% {
    box-shadow: 0 0 0 var(--pulseSize) var(--transparentBlue);
  }
  to {
    box-shadow: 0 0 0 0 var(--transparentBlue);
  }
}

.no-scrollbar .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: 'none'
}

.no-scrollbar .react-horizontal-scrolling-menu--scroll-container {
  scrollbar-width: 'none';
  -ms-overflow-style: 'none';
}